<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="WPF_AIPStressTesting01.Properties.Settings.hypdmConnectionString"
        connectionString="Data Source=MES8N\HYDMS1;Initial Catalog=hypdm;Persist Security Info=True;User ID=mstatus_manager;Password=mstatus_manager"
        providerName="System.Data.SqlClient" />
    <add name="WPF_AIPStressTesting01.Properties.Settings.hydra1ConnectionString"
        connectionString="Data Source=MES8N\HYDMS1;Initial Catalog=hydra1;Persist Security Info=True;User ID=sa;Password=hydadm"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
